
imagenette2-160.tgz
imagenette_160/.DS_Store
imagenette_160/noisy_imagenette.csv
imagenette_160/train/.DS_Store
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/WaveletMasks.iml
.vscode/settings.json
*.pyc
*.pt
*.JPEG
imagenette/noisy_imagenette.csv
imagenette2.tgz
notes.txt
